@{
    ViewData["Title"] = "Quiz";
}

<div id="quiz-container">
    <p>Loading question...</p>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/quiz.js"></script>

